cct/trunk/profiles/database.dtd

<!ELEMENT database (puzzle)*>

<!ELEMENT puzzle (session)*>
<!ELEMENT session (solve|comment)*>
<!ELEMENT solve (#PCDATA|scramble|comment|splits)*>
<!ELEMENT scramble (#PCDATA)*>
<!ELEMENT splits (#PCDATA)*>
<!ELEMENT comment (#PCDATA)*>

<!ATTLIST puzzle customization CDATA #REQUIRED>
<!ATTLIST session date CDATA #REQUIRED>
<!ATTLIST session loadonstartup CDATA #IMPLIED>
